* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}
body {
    /* height: 100vh; */
    width: 100%;
    background: url('../pics-game/vs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20vh;
    gap: 1rem;
}

header h1 {
    font-size: 4rem;
    padding-top: 0rem;
    /* color: rgb(3, 121, 29); */
    color: #fff;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.startModal-content {
    background-color: #edf5e1;
    opacity: 0.8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 20%;
}

.startModal-content h4 {
    color: rgb(3, 121, 29);
}
.rounds-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.rounds-number div {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.rounds-number div input {
    margin-right: 0.5rem;
    color: rgb(3, 121, 29);
}

.rounds-number div label {
    color: rgb(3, 121, 29);
}

.rounds-number div input:hover {
    cursor: pointer;
}
.game-mode {
    margin-top: 1rem;
}
.game-mode p {
    margin-top: 1rem;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem;
}

.game-mode p:hover,
.game-mode p:focus {
    cursor: pointer;
}

.start-game {
    display: inline-block;
    margin: 1rem auto 0;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    color: rgb(3, 121, 29);
}

/* The Close Button */
/* .closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */

.image-container {
    width: 30rem;
    height: 30rem;
    background: url('../pics-game/photo2.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.5rem solid #74f84c;
    border-radius: 0.5rem;
}

.image-container2 {
    width: 30rem;
    height: 30rem;
    background: url('../pics-game/photo2.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.5rem solid #ffa52e;
    border-radius: 0.5rem;
}

.rock {
    background: url('../pics-game/rock-main.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}
.paper {
    background: url('../pics-game/paper-main.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}
.scissors {
    background: url('../pics-game/scissors-main.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

article p:last-of-type {
    padding-top: 3rem;
}

.last-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-btns {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.select-btns img {
    width: 15%;
    cursor: pointer;
}

.select-btns img:active {
    position: relative;
    margin-bottom: -3px;
    margin-top: 3px;
}

#well {
    display: none;
}

.round-result h3,
.round-result p {
    font-size: 3rem;
    /* color: rgb(3, 121, 29); */
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#player-score,
#computer-score {
    font-size: 2.5rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    opacity: 0.5;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1.5rem;
    width: 40%;
}

.message p {
    color: #000;
    width: 100%;
    margin-bottom: 0.5rem;
}

.side {
    font-size: 1.5rem;
}

#restart:hover,
#exit:hover {
    cursor: pointer;
    color: green;
}

.hidden {
    display: none;
}

.computer-btns {
    visibility: hidden;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.win {
    box-shadow: 0px 0px 41px 18px rgba(7, 255, 5, 0.7);
}

.lose {
    box-shadow: 0px 0px 41px 18px rgba(255, 10, 10, 0.7);
}
.tie {
    box-shadow: 0px 0px 41px 18px rgba(87, 62, 62, 0.7);
}

/* ##### FOOTER ##### */

@media only screen and (max-width: 1440px) {
    body {
        height: 100vh;
    }
    .image-container {
        width: 23rem;
        height: 23rem;
    }

    .image-container2 {
        width: 23rem;
        height: 23rem;
    }
    .startModal-content {
        width: 35%;
    }
}

@media only screen and (max-width: 1100px) {
    header h1 {
        font-size: 1.5rem;
    }
    #round-result {
        font-size: 1.5rem;
    }
    .image-container {
        width: 18rem;
        height: 18rem;
    }

    .image-container2 {
        width: 18rem;
        height: 18rem;
    }
    .startModal-content {
        width: 45%;
    }
}

@media only screen and (max-width: 700px) {
    .image-container {
        width: 14rem;
        height: 14rem;
    }

    .image-container2 {
        width: 14rem;
        height: 14rem;
    }
    .startModal-content {
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        height: fit-content;
    }
    section {
        flex-direction: column;
    }
    .startModal-content {
        width: 90%;
    }
}
